+modal(ID_MODAL_FILTER, { variant: "bottom", isUnstyled: true })
  div(class="max-w-full w-150 pt-5 pb-6 px-4.5 rounded-t-sm overflow-hidden bg-bg-light-primary")
    +filter-products("accordion-filter-modal")
      div(class="text-text-primary/40")
        +button-icon("close")(aria-label="Закрыть", data-modal-hide="catalog-filter-modal")
