extends ../layouts/default

block title
  | Главная
block content
  include ../partials/screens/hero
  include ../partials/screens/new-arrivals
  +hr
  include ../partials/screens/sales-leaders
  include ../partials/screens/clothing-styles
  include ../partials/screens/reviews
