-
  const PRODUCT_JEANS = {
    title: "Джинсы скинни",
    img: { src: "img/products/previews/skinny-fit-jeans.webp", width: "590", height: "596" },
    stars: [true, true, true, false],
    rating: "4.5",
    price: "2 400",
    oldPrice: "2 600",
    discountPercent: "20",
  };

  const PRODUCT_T_SHIRT = {
    title: "Футболка с лентами",
    img: { src: "img/products/previews/t_shirt_with_tape_details.webp", width: "590", height: "596" },
    stars: [true, true, true, true, true],
    rating: "5.0",
    price: "1 200",
  };
