-
  const REVIEW_CARD = {
    stars: [true, true, true, true, true],
    author: "Алексей К.", 
    review: "Раньше было сложно найти одежду, которая соответствует моему стилю, пока я не открыл для себя Shop.co. Ассортимент у них действительно впечатляющий, он подходит для самых разных вкусов и случаев."
  };

  const REVIEW_CARD_POSTED = {
    stars: [true, true, true, true, true],
    author: "Алексей К.", 
    review: "Раньше было сложно найти одежду, которая соответствует моему стилю, пока я не открыл для себя Shop.co. Ассортимент у них действительно впечатляющий, он подходит для самых разных вкусов и случаев.",
    posted: "14 августа 2025"
  };
