{{#> components/container }}
<nav class="mt-6 max-md:mt-5">
  <ul class="flex flex-wrap gap-x-3 max-md:gap-x-2 gap-y-1">
    {{#each content}}
    <li>
      {{#if href}}
      <div class="flex items-center gap-x-2 max-md:gap-x-1">
        <a href="{{href}}" class="text-text-primary/60 transition-colors app-hover:text-text-primary">{{label}}</a>
        <div class="text-text-primary/60">
          {{> components/icon name="forward-right" widthClass="w-4 max-md:w-3.5" }}
        </div>
      </div>
      {{else}}
      <div>{{label}}</div>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</nav>
{{/components/container }}