<div
  class="flex items-center flex-wrap {{variantClass default='gap-x-3 max-lg:gap-x-2 max-md:gap-x-1' lg='gap-x-4' variant=size}}">
  {{> components/rating stars=stars size=size }}

  <div class="{{variantClass default='text-sm max-md:text-xs' lg='' variant=size}}">
    <span>{{rating}}/</span><span class="text-text-primary/60">5</span>
  </div>
</div>